---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

import { Button } from "@/components/ui/button";
---

<Layout>
  <Button variant="destructive">Holaaaaa Shadcn</Button>
  <p class="font-bellefair">Prueba Bellefair</p>
  <p class="font-barlow">Prueba Barlow</p>
  <p class="font-barlow font-thin">Prueba Barlow</p>
  <p class="font-barlow font-extralight">Prueba Barlow</p>
  <p class="font-barlow font-light">Prueba Barlow</p>
  <p class="font-barlow font-normal">Prueba Barlow</p>
  <p class="font-barlow font-medium">Prueba Barlow</p>
  <p class="font-barlow font-semibold">Prueba Barlow</p>
  <p class="font-barlow font-bold">Prueba Barlow</p>
  <p class="font-barlow font-extrabold">Prueba Barlow</p>
  <p class="font-barlow font-black">Prueba Barlow</p>

  <p class="font-barlow italic font-thin">Prueba Barlow</p>
  <p class="font-barlow italic font-extralight">Prueba Barlow</p>
  <p class="font-barlow italic font-light">Prueba Barlow</p>
  <p class="font-barlow italic font-normal">Prueba Barlow</p>
  <p class="font-barlow italic font-medium">Prueba Barlow</p>
  <p class="font-barlow italic font-semibold">Prueba Barlow</p>
  <p class="font-barlow italic font-bold">Prueba Barlow</p>
  <p class="font-barlow italic font-extrabold">Prueba Barlow</p>
  <p class="font-barlow italic font-black">Prueba Barlow</p>

  <p class="font-barlow-condensed font-thin">Prueba Barlow Condensed</p>
  <p class="font-barlow-condensed font-extralight">Prueba Barlow Condensed</p>
  <p class="font-barlow-condensed font-light">Prueba Barlow Condensed</p>
  <p class="font-barlow-condensed font-normal">Prueba Barlow Condensed</p>
  <p class="font-barlow-condensed font-medium">Prueba Barlow Condensed</p>
  <p class="font-barlow-condensed font-semibold">Prueba Barlow Condensed</p>
  <p class="font-barlow-condensed font-bold">Prueba Barlow Condensed</p>
  <p class="font-barlow-condensed font-extrabold">Prueba Barlow Condensed</p>
  <p class="font-barlow-condensed font-black">Prueba Barlow Condensed</p>

  <p class="font-barlow-condensed italic font-thin">Prueba Barlow Condensed</p>
  <p class="font-barlow-condensed italic font-extralight">
    Prueba Barlow Condensed
  </p>
  <p class="font-barlow-condensed italic font-light">Prueba Barlow Condensed</p>
  <p class="font-barlow-condensed italic font-normal">
    Prueba Barlow Condensed
  </p>
  <p class="font-barlow-condensed italic font-medium">
    Prueba Barlow Condensed
  </p>
  <p class="font-barlow-condensed italic font-semibold">
    Prueba Barlow Condensed
  </p>
  <p class="font-barlow-condensed italic font-bold">Prueba Barlow Condensed</p>
  <p class="font-barlow-condensed italic font-extrabold">
    Prueba Barlow Condensed
  </p>
  <p class="font-barlow-condensed italic font-black">Prueba Barlow Condensed</p>
</Layout>
