---
import Layout from "@/layouts/Layout.astro";

const title = "Technology";
const description = "This is a basic page generated automatically.";
---

<Layout>
  <p>{title}</p>
  <p>{description}</p>
</Layout>
